@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

body{
    display: flex;
    flex-flow: column nowrap;
    font-family: 'Open Sans', sans-serif;
    min-width: min-content;
    flex-basis: min-content;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

button{
  background-color: #3882F6;
  color: #F9FAF8;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  width: 100px;
  height: 35px;
  border: none;
}

.header, .subheader, .footer{
    display: flex;    
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    overflow: visible;
    flex: 1 0 min-content;
    flex-flow: row nowrap; 
    align-items: center; 
    gap: 50px;
}

.header{padding-top: 20px;}

.headerlogo{
    font-size: 24px;
    flex-shrink: 0;
}

.subheader img{
    box-sizing: border-box;
    height: 200px;
    width: auto;
    line-height: 200px;
    background-color: grey;
    text-align: center;   
    font-size: 12px;
    flex-shrink: 0;
    border: 5px solid white;  
     
}

.headerlinks{
    display: flex;
    gap: 10px;
    font-size: 18px;
    color: #e5e7eb;
    flex-shrink: 0;
}

.headerlinks a{
    text-decoration: none;
    color: #F9FAF8;
}

.herotext{
    display: flex;
    flex-flow: row wrap;
    height: 200px;
    width: 400px;
    flex-shrink: 0;
}    
.herotextheader{
    font-size: 48px;
    font-weight: bold;    
}
.button1{margin-top: 10px;}

.infoheader{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    margin-bottom: 40px;    
}

.infocontainer{
    display: flex; 
    flex-direction: column;
    background-color: white;
    padding-top: 40px;
    padding-bottom: 100px;
}

.info{
    display: flex;
    flex-flow: row nowrap;
    background-color: white;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex: 1 0 min-content;
    padding-left: 175px;
    padding-right: 175px;
    
}

.infobox{
    font-size: 16px;
    color: #1F2937;
    text-align: center;
}
.infobox img{
    display: inline-block;    
    width: 175px;
    height: 175px;
    line-height: 175px;
    border: 3px solid #3882F6;
    border-radius: 14px;
    box-sizing: border-box;    
}
.infotext{
    max-width: 175px;
}

.thor{
    display: flex;
    flex-flow: column nowrap;
    background-color: #e5e7eb;
    justify-content: center;    
    flex: 1 0 min-content;
    padding-left: 150px;
    padding-right: 150px;
    
}
.thorquote{
    margin-top: 100px;
    font-size: 36px;
    font-style: italic;
}
.thorauthor{
    font-size: 20px;
    font-weight: bold;
    align-self: flex-end;
    margin-top: 10px;
    margin-bottom: 80px;
}

.signupbox{
    display: flex;
    flex-flow: row nowrap;
    flex: 1 0 auto;
    border-radius: 12px;
    background-color: #3882F6;
    color: white;
    align-items: center;
    padding: 40px;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
    margin-top: 75px;
    margin-bottom: 75px;
    font-size: 16px;
}

.signup
{
    padding-right: 100px;
    padding-left: 100px;
}
.signupheader{
    font-size: 24px;
    font-weight: bold;
}

.button2{
border: 2px solid white;
}

.footer{
 padding: 20px;
 align-items: center;
 justify-content: center;
 font-size: 10px;
}
