body{
    display: flex;
    flex-flow: column nowrap;
    font-family: "Futura" sans-serif;
    min-width: min-content;
    flex-basis: min-content;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

button{
  background-color: #3882F6;
  color: #F9FAF8;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  width: 100px;
  height: 30px;
  border: none;
}

.header, .subheader{
    display: flex;    
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 150px;
    overflow: visible;
    flex: 1 0 min-content;
    flex-flow: row nowrap; 
    align-items: center; 
    gap: 20px;
}

.header{padding-top: 20px;}

.headerlogo{
    font-size: 24px;
    flex-shrink: 0;
}

.subheader img{
    height: 200px;
    width: 400px;
    line-height: 200px;
    background-color: grey;
    text-align: center;   
    font-size: 12px;
    flex-shrink: 0;   
     
}

.headerlinks{
    display: flex;
    gap: 10px;
    font-size: 18px;
    color: #e5e7eb;
    flex-shrink: 0;
}

.headerlinks a{
    text-decoration: none;
    color: #F9FAF8;
}

.herotext{
    display: flex;
    flex-flow: row wrap;
    height: 200px;
    width: 400px;
    flex-shrink: 0;
}    
.herotextheader{
    font-size: 48px;
    font-weight: bolder;
    
}
.button1{margin-top: 10px;}

.infoheader{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    margin-bottom: 40px;    
}

.infocontainer{
    display: flex; 
    flex-direction: column;
    background-color: white;
    padding-top: 40px;
    padding-bottom: 100px;
}

.info{
    display: flex;
    flex-flow: row nowrap;
    background-color: white;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex: 1 0 min-content;
    
}

.infobox{
    font-size: 16px;
    color: #1F2937;
    text-align: center;
}
.infobox img{
    display: inline-block;    
    width: 200px;
    height: 200px;
    line-height: 200px;
    border: 4px solid #3882F6;
    border-radius: 14px;
    box-sizing: border-box;    
}
.infotext{
    max-width: 200px;
}